@import 'variables';

body{
    font-family: "Noto Sans TC", sans-serif;
};

*,*::before,*::after{
    box-sizing: border-box;
}


.btn-submit-lg{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding-top:16px;
    padding-bottom: 16px;
    padding-right: 12px;
    padding-left: 12px;
    color: black; 
    background-color: #FFFFFF;
    font-weight: 400;
    cursor: pointer;
    &:hover{
        background-color: #000000;
        color: #FFFFFF;
    }
    &active{
        background-color: #000000;
        color: #FFFFFF;
    }
}

.btn-submit-sm{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding-top:6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    color: black; 
    background-color: #FFFFFF;
    font-weight: 400;
    cursor: pointer;
    &:hover{
        background-color: #000000;
        color: #FFFFFF;
    }
    &active{
        background-color: #000000;
        color: #FFFFFF;
    }
}
.btn-navbar{
    height: 40px;
    padding: 8px;
    font-weight: 400;
    &:hover{
        border-bottom: 1px solid #000000;
        transition:1ms;
    }
    &:active{
        border-bottom: 1px solid #000000;
        transition:1ms;
    }
}

.break-line{
    width: 100px;
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
}

.new-arrival{
    background-color: #2B2B2B;
}
@media (max-width:768px) {
    .new-arrival{
        background: linear-gradient(#000000,#404040,#191919);
    };
    
}


.style{
    background-color: #000000;
}

@media(max-width:768px){
    .style{
        background-image: url('../image/Frame\ 46.png');
    };
    
}


.key-in{
    height: 56px;
    appearance: none;
    border:1px solid #FFFFFF;
    border-radius: 4px;
    padding-left: 12px;
    
}

input::placeholder{
        color:#FFFFFF;
    }

@media (min-width:768px) {
    input::placeholder{
        color:#ACACAC;
    }
}
