@import 'variables';

body{
    font-family: "Noto Sans TC", sans-serif;
};

*,*::before,*::after{
    box-sizing: border-box;
}

*,*::after,*::before{
    outline: 0.5px dotted chocolate;
}

.btn-submit{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding-top:16px;
    padding-bottom: 16px;
    padding-right: 12px;
    padding-left: 12px;
    color: black; 
    background-color: #FFFFFF;
    font-weight: 400;
    cursor: pointer;
    &:hover{
        background-color: #000000;
        color: #FFFFFF;
    }
    &active{
        background-color: #000000;
        color: #FFFFFF;
    }
}

.btn-navbar{
    height: 40px;
    padding: 8px;
    font-weight: 400;
    &:hover{
        border-bottom: 1px solid #000000;
        transition:1ms;
    }
    &:active{
        border-bottom: 1px solid #000000;
        transition:1ms;
    }
}

.break-line{
    width: 100px;
    height: 1px;
    background-color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
}


.style{
    background-image: url('../image/Frame\ 46.png');
}

@media(max-width:768){
    .style{
        background-image: none;
        background-color: black;
    }
    
}


.key-in{
    height: 56px;
    appearance: none;
    border:1px solid #FFFFFF;
    border-radius: 4px;
    padding-left: 12px;
    
}

input::placeholder{
        color:#FFFFFF;
    }
